:root {
    --bg: #333742;
    --bg-dark: #424651;
    --bg-light: #474c55;
    --bg-dark3: #262a32;
    --blue: #5173ca;
    --red: #a3464a;
}

.btn {
    background-color: var(--bg-dark);
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    padding: 0.5rem;
    cursor: default;
    margin: 0.25rem;
}

.btn:hover {
    background-color: var(--bg-light);
}

input {
    all: unset;
    background-color: var(--bg-dark3);
    color: white;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

input:focus {
    border: solid 1px white;
}

.icon {
    height: 1rem;
    color: white;
}
