@import url("theme.css");

body {
	background-color: var(--bgColor);
	margin: 0;
}

main {
	background-color: var(--bgColor);
	color: var(--text-color-primary);
}

.btn {
	background-color: var(--bgDark);
	color: white;
	border: none;
	border-radius: 0.25rem;
	font-weight: bold;
	padding: 0.5rem;
	cursor: default;
	margin: 0.25rem;
}

.btn:hover {
	background-color: var(--button-bg-active-color-secondary);
}

input {
	all: unset;
	background-color: var(--input-bg-color);
	color: white;
	border-radius: 0.25rem;
	padding: 0.25rem;
}

input:focus {
	border: solid 1px white;
}

.icon {
	height: 1rem;
	color: white;
}
